<div class="jumbotron text-center bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://images.pexels.com/photos/431722/pexels-photo-431722.jpeg?cs=srgb&dl=pexels-abby-kihano-431722.jpg&fm=jpg); background-size: 100%;">
    <h1 class="display-4">Bienvenue sur Events News!</h1>
    <p class="lead">Poster vos evenements et partager le fun!</p>
    <hr class="my-4">
    <p class="lead">
    <%= link_to "Un nouvel évenement à créer?", new_event_path, class:"btn btn-success btn-lg" %>
    </p>
</div>

<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-body">
  <h4><U>Events:</U></h4>

  <table class="table text-center">
    <thead>
      <tr>
        <th>Start date</th>
        <th>Duration (h)</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price (€)</th>
        <th>Location</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.start_date %></td>
          <td><%= event.duration %></td>
          <td><%= event.title %></td>
          <td><%= event.description %></td>
          <td><%= event.price %></td>
          <td><%= event.location %></td>
          <td><%= link_to 'Show', event, class:'text-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Event', new_event_path, class:'btn btn-success btn-sm' %>
  
  </div>
</div>